# Model Comparison for Dynamic Nelson Siegel Estimation

This notebook compares different estimation methods for the Dynamic Nelson Siegel model using the US Yield Curve data from 1972 to 2000.

In [1]:
import pandas as pd

import sys
import os

# Add the src/ directory to the Python path
sys.path.append(os.path.abspath("../src"))
# Load the data
url = 'https://www.dropbox.com/s/inpnlugzkddp42q/bonds.csv?dl=1'
df = pd.read_csv(url, sep=';', index_col=0)

# Display the first few rows of the dataset
df.head()

,M3,M6,M9,M12,M15,M18,M21,M24,M30,M36,M48,M60,M72,M84,M96,M108,M120
date,,,,,,,,,,,,,,,,,
1972:01,3.382,3.782,3.995,4.120,4.442,4.595,4.714,4.804,5.100,5.331,5.479,5.718,5.971,6.007,6.026,6.041,6.088
1972:02,3.470,3.831,3.983,4.291,4.391,4.443,4.626,4.769,5.040,5.246,5.443,5.665,5.897,5.960,6.028,6.082,6.283
1972:03,3.874,4.463,4.663,4.937,5.141,5.317,5.466,5.528,5.590,5.774,5.875,5.999,6.119,6.110,6.096,6.084,6.269
1972:04,3.648,4.113,4.355,4.527,4.568,4.780,4.969,5.109,5.354,5.526,5.644,5.798,5.941,5.980,6.063,6.128,6.240
1972:05,3.835,4.232,4.446,4.631,4.630,4.760,4.855,4.947,5.178,5.382,5.563,5.715,5.894,5.937,5.996,6.042,6.249

## Approach 1: Cross-Sectional DNS Parameter Estimation

In this section, we will estimate the cross-sectional DNS parameters (βs) at each point in time and model their dynamics using a VAR.

In [2]:
import sys
import os

# Add the src directory to sys.path
sys.path.append(os.path.abspath("../src"))
from dnss.models.cross_sectional_var import CSVAR


model = CSVAR()
dates = pd.to_datetime(df.index, format='%Y:%m')
maturities = [3, 6, 9, 12, 15, 18, 21, 24, 30, 36, 48, 60, 72, 84, 96, 108, 120]

model.fit(dates=dates, maturities=maturities, data=df)

[2025-04-20 14:30:35] [INFO] [dnss.models.cross_sectional_var] Starting parameter estimation...

c:\Users\semva\OneDrive\Documenten\Code Projects\DNS_py\dns-yield-curve\src\dnss\models\cross_sectional_var.py:97: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  params = params.fillna(0).infer_objects(copy=False)

[2025-04-20 14:30:40] [INFO] [dnss.models.cross_sectional_var] Fitting VAR model...

c:\Users\semva\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

## Conclusion

This notebook has demonstrated the first approach for estimating the Dynamic Nelson Siegel model using cross-sectional parameters. Further comparisons with other methods will be conducted in subsequent sections.